@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900");
@font-face {
  font-family: 'Avenir';
  src: url("/src/assets/fonts/AvenirNextLTW01RegularRegular.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/AvenirNextLTW01RegularRegular.woff") format("woff"), url("/src/assets/fonts/AvenirNextLTW01RegularRegular.ttf") format("truetype"), url("/src/assets/fonts/AvenirNextLTW01RegularRegular.svg#AvenirNextLTW01RegularRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Avenir';
  src: url("/src/assets/fonts/AvenirNextLTW01BoldRegular.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/AvenirNextLTW01BoldRegular.woff") format("woff"), url("/src/assets/fonts/AvenirNextLTW01BoldRegular.ttf") format("truetype"), url("/src/assets/fonts/AvenirNextLTW01BoldRegular.svg#AvenirNextLTW01BoldRegular") format("svg");
  font-weight: bold;
  font-style: normal; }

html, body {
  color: #ED254E;
  background: #0f0f0f;
  font-family: "Rubik", sans-serif;
  margin: 0; }
  @media only screen and (max-width: 450px) {
    html, body {
      font-size: 13px; } }

a {
  cursor: pointer;
  box-sizing: border-box; }

div {
  box-sizing: border-box; }

.btn {
  border: 2px solid #ED254E;
  padding: 0.5em 2em;
  border-radius: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ED254E;
  transition: all 0.2s; }
  .btn:hover {
    background: #ED254E;
    color: #0f0f0f; }

.container {
  display: flex; }
  @media only screen and (max-width: 768px) {
    .container {
      flex-direction: column; } }

.dashboard {
  flex-grow: 1;
  min-height: 100vh;
  padding: 1em;
  padding-bottom: 150px;
  width: 75%; }
  @media only screen and (max-width: 768px) {
    .dashboard {
      width: 100%;
      padding-top: 5em; } }

.sidebar {
  width: 25%;
  height: 100vh; }
  @media only screen and (max-width: 768px) {
    .sidebar {
      height: auto;
      width: 100%;
      z-index: 1; } }
  .sidebar__container {
    position: fixed;
    height: 100%;
    width: 25%;
    background: rgba(0, 0, 0, 0.32); }
    @media only screen and (max-width: 768px) {
      .sidebar__container {
        height: auto;
        width: 100%;
        background: black;
        border-bottom: 1px solid #ED254E; } }
  .sidebar__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    padding: 1em; }
    @media only screen and (max-width: 768px) {
      .sidebar__profile {
        display: none; } }
  .sidebar__name {
    font-weight: 600; }
  .sidebar__avatar {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    height: 130px;
    width: 130px; }
    @media only screen and (max-width: 768px) {
      .sidebar__avatar {
        height: 50px;
        width: 50px; } }
    @media only screen and (max-width: 450px) {
      .sidebar__avatar {
        height: 35px;
        width: 40px; } }
  .sidebar__responsive {
    display: none;
    align-items: center;
    padding: 1em;
    justify-content: space-between; }
    @media only screen and (max-width: 768px) {
      .sidebar__responsive {
        display: flex; } }
    .sidebar__responsive_left {
      display: flex;
      align-items: center;
      position: relative; }
  .sidebar__dropdown {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #ED254E;
    width: 100%;
    top: 134%;
    display: none;
    min-width: 110px; }
    .sidebar__dropdown .sidebar__link {
      color: #0f0f0f; }
      .sidebar__dropdown .sidebar__link:visited {
        color: #0f0f0f; }
    .sidebar__dropdown.opened {
      display: block; }
  @media only screen and (max-width: 768px) {
    .sidebar__nav--large {
      display: none; } }
  .sidebar__link {
    display: block;
    padding: 0.35em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: center; }
    .sidebar__link:visited {
      color: white; }

.player {
  background: #0f0f0f;
  color: #FFFFFA;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  align-items: center; }
  .player video {
    display: none; }
  .player__buttons {
    font-size: 2rem;
    width: 100%;
    text-align: center; }
  .player__btn {
    transition: all 0.2s; }
    .player__btn:hover {
      color: #ED254E; }
    .player__btn.active {
      color: #ED254E;
      text-shadow: 0px 0px 16px #ED254E; }
    .player__btn.disabled {
      opacity: 0.1;
      cursor: default; }
      .player__btn.disabled:hover {
        color: #FFFFFA; }
  .player__bar {
    position: absolute;
    background: #FFFFFA;
    width: 100%;
    top: 0;
    z-index: 1; }
  .player__browse {
    position: absolute;
    background: #0f0f0f;
    width: 1px;
    height: 100%;
    top: -20px; }
    .player__browse span {
      position: absolute;
      top: -100%;
      background: #272D2D;
      color: white;
      padding: 1px;
      left: -20px;
      right: -20px;
      text-align: center; }
      .player__browse span:after {
        content: "";
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #272D2D;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin: auto; }
  .player__played {
    height: 15px;
    background: #ED254E;
    transition: all 0.2s; }
  .player__song {
    padding: 0 1em;
    display: flex;
    width: 335px;
    height: 100%;
    align-items: center;
    background: rgba(97, 112, 115, 0.23);
    position: absolute;
    font-weight: 300; }
    .player__song_info {
      display: flex;
      flex-direction: column; }
    .player__song_thumb {
      background-repeat: no-repeat;
      background-size: cover;
      width: 60px;
      height: 60px;
      margin-right: 10px; }
  .player__volume {
    position: absolute;
    background: #FFFFFA;
    height: 10px;
    width: 125px;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 40px;
    border-radius: 15px;
    padding: 3px; }
    .player__volume_bar {
      background: #ED254E;
      height: 100%;
      border-radius: 10px; }
    .player__volume_dragger {
      position: absolute;
      background: #FFFFFA;
      height: 18px;
      width: 18px;
      border-radius: 50%;
      box-shadow: 1px 1px 30px black;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto; }
  @media only screen and (max-width: 1024px) {
    .player {
      flex-direction: column;
      height: 115px; }
      .player__played {
        height: 10px; }
      .player__song {
        position: static;
        background: transparent;
        width: auto; }
        .player__song_thumb {
          height: 35px;
          width: 35px; } }
  @media only screen and (max-width: 450px) {
    .player {
      height: 105px; } }

.open-dropdown {
  margin-left: 1em; }

.login {
  position: relative;
  height: 100vh;
  width: 100%; }
  .login__container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 380px;
    width: 300px;
    margin: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
  .login img {
    max-width: 100%; }

.tracklist {
  list-style: none;
  margin: 0;
  padding: 0; }
  .tracklist__item {
    display: flex;
    position: relative;
    padding: 0.2em 0; }
    .tracklist__item:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
    .tracklist__item.active {
      color: #0f0f0f; }
      .tracklist__item.active:before {
        background: #ED254E; }
    .tracklist__item_name {
      flex: 3;
      position: relative; }
    .tracklist__item_artists {
      flex: 3;
      position: relative; }
    .tracklist__item_play {
      flex: 1;
      position: relative; }

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?50085449");
  src: url("../fonts/fontello.eot?50085449#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?50085449") format("woff2"), url("../fonts/fontello.woff?50085449") format("woff"), url("../fonts/fontello.ttf?50085449") format("truetype"), url("../fonts/fontello.svg?50085449#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?50085449#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-pause:before {
  content: '\f00e'; }

/* '' */
.icon-play:before {
  content: '\f00f'; }

/* '' */
.icon-next:before {
  content: '\f010'; }

/* '' */
.icon-prev:before {
  content: '\f011'; }

/* '' */
.musiclist {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1em; }
  .musiclist__item {
    width: calc(100% / 3);
    padding: 1em;
    box-sizing: border-box; }
    .musiclist__item_image {
      position: relative;
      padding-top: 100%;
      background: rgba(0, 0, 0, 0.66);
      background-repeat: no-repeat;
      background-size: cover; }
    .musiclist__item_content {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(15, 15, 15, 0.72);
      color: #FFFFFA;
      padding: 1em;
      opacity: 0;
      transition: all 0.5s; }
      .musiclist__item_content:hover {
        opacity: 1; }
    .musiclist__item_artists {
      font-weight: 300; }
    .musiclist__item_name {
      font-weight: 700;
      font-size: 1.5rem; }
    @media only screen and (max-width: 768px) {
      .musiclist__item {
        width: 50%; }
        .musiclist__item_content {
          opacity: 1;
          background: linear-gradient(rgba(15, 15, 15, 0.83) 0%, transparent 100%); }
          .musiclist__item_content p {
            margin: 0; } }
    @media only screen and (max-width: 450px) {
      .musiclist__item {
        width: 100%; } }

.album {
  display: flex; }
  .album__info {
    width: 300px;
    text-align: center; }
  .album__tracks {
    flex-grow: 1;
    padding: 0 3em; }
  .album__image {
    max-width: 100%; }
  .album__artists {
    color: #FFFFFA;
    font-weight: 100; }
    .album__artists a {
      color: #FFFFFA; }
  @media only screen and (max-width: 450px) {
    .album {
      flex-direction: column; }
      .album__info {
        width: 100%; }
      .album__tracks {
        padding: 0 0.7em; } }

.artist {
  flex-grow: 1;
  width: 75%; }
  .artist__name {
    margin: 0;
    position: relative; }
  .artist__followers {
    position: relative;
    font-weight: 100; }
  .artist__genres {
    position: relative;
    text-transform: uppercase;
    font-weight: 100;
    padding: 1em;
    text-align: center; }
  .artist__top {
    background-repeat: no-repeat;
    background-size: cover;
    height: 230px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-position: center;
    position: relative;
    color: #FFFFFA; }
    .artist__top:before {
      content: '';
      position: absolute;
      background: linear-gradient(rgba(15, 15, 15, 0.45) 0%, rgba(15, 15, 15, 0.75) 50%, #0f0f0f 100%);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
  .artist__material {
    padding: 1em;
    padding-bottom: 150px; }
  @media only screen and (max-width: 768px) {
    .artist {
      width: 100%; }
      .artist__top {
        height: 525px;
        justify-content: center; }
      .artist__genres {
        padding: 0; } }

.search__input {
  width: 100%;
  background: transparent;
  box-shadow: none;
  border: 1px solid #FFFFFA;
  color: #FFFFFA;
  border-radius: 10px;
  padding: 0.5em;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-size: 1.7rem;
  outline: none; }

.search__pagination {
  text-align: center; }
  .search__pagination_btn {
    background: #ED254E;
    color: #0f0f0f;
    padding: 0.5em 1.3em;
    border-radius: 3px;
    margin: 5px; }

.artistlist {
  display: flex;
  flex-wrap: wrap; }
  .artistlist__item {
    width: 20%;
    text-align: center;
    padding: 10px; }
    .artistlist__item h3 {
      color: #ED254E;
      font-weight: normal;
      text-decoration: underline; }
    .artistlist__item_image {
      background: #484848;
      position: relative;
      padding-top: 100%;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; }
      .artistlist__item_image p {
        position: absolute;
        text-align: center;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 1.3em;
        margin: auto;
        color: #FFFFFA;
        font-weight: 600; }
  @media only screen and (max-width: 550px) {
    .artistlist__item {
      width: 50%; } }
