.tracklist{
    list-style: none;
    margin: 0;
    padding: 0;
    &__item{
        display: flex;
        position: relative;
        padding: 0.2em 0;
        &:before{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        &.active{
            &:before{
                background: $light;
            }
            color: $dark;
        }
        &_name {
            flex: 3;
            position: relative;
        }

        &_artists {
            flex: 3;
            position: relative;
        }
        &_play{
            flex: 1;
            position: relative;
        }
    }
}