@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');

@font-face {
    font-family: 'Avenir';
    src: url('/src/assets/fonts/AvenirNextLTW01RegularRegular.eot?#iefix') format('embedded-opentype'),
    url('/src/assets/fonts/AvenirNextLTW01RegularRegular.woff') format('woff'),
    url('/src/assets/fonts/AvenirNextLTW01RegularRegular.ttf') format('truetype'),
    url('/src/assets/fonts/AvenirNextLTW01RegularRegular.svg#AvenirNextLTW01RegularRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir';
    src: url('/src/assets/fonts/AvenirNextLTW01BoldRegular.eot?#iefix') format('embedded-opentype'), url('/src/assets/fonts/AvenirNextLTW01BoldRegular.woff') format('woff'), url('/src/assets/fonts/AvenirNextLTW01BoldRegular.ttf') format('truetype'), url('/src/assets/fonts/AvenirNextLTW01BoldRegular.svg#AvenirNextLTW01BoldRegular') format('svg');
    font-weight: bold;
    font-style: normal;
}

$font: 'Rajdhani', sans-serif;
$avenir: 'Avenir';
$dark: #051923;
$light: #00A6FB;
$offwhite: #FFFFFA;
$darkgrey: #272D2D;